[Unit]
Description=Load wlan_drv_gen4m kernel module
After=bluebinder.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/modprobe wlan_drv_gen4m

[Install]
WantedBy=multi-user.target
